<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OraProfileConnString" connectionString="user id=ZHTJ;data source=orash;password=20sh08;" providerName="System.Data.OracleClient"/>    
    <add name="MDBProfileConnString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Data_Source\FlowData.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <appSettings>
    <!-- 数据库类型 ACCESS,ORACLE -->
    <add key="DataBaseType" value="ACCESS"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
