<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Oracle connection string for Profile database -->
    <add name="OraProfileConnString" connectionString="user id=ZHXTV3;data source=JSYWFPT;password=20G09EN;" providerName="System.Data.OracleClient"/>
    <!-- Oracle connection string for Membership database -->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
