<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="OraProfileConnString" connectionString="Data Source =.;Initial Catalog = ZHXTV3META;Integrated Security = SSPI;Persist Security Info=True;" />-->
    <add name="OraProfileConnString" connectionString="Data Source =AEHYOK-PC\AEHYOK;Initial Catalog = ZHXTV3META;Integrated Security = SSPI;" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
